#blog
	%h3 BLOG

	.menu-col
		= link_to "Product Details Pages", "#Product-Details-Pages"

	.main-col
		#Product-Details-Pages
			%h1 PRODUCT DETAILS PAGES
			%h2 ECOMMERCE
			%h6 15/5/2020
			%p
				Alongside the product search and the product listing, the product show page is one of the most important pages on a website. It gives the final reassurance to the customer that they would like to buy the product. What exactly makes a good product detail page? 
			%p
				It's best not to pay too much attention to current trends as every website, every company and every product is different. You may want a copy of a website you like, however their users could be completely different to yours. The way in which they shop for products on that site will differ to the way you shop for products on yours.
			%p
				But that being said it's useful to look at current trends to get a feel of what a modern e-commerce website looks like. One change in trend is ...

			= link_to "READ MORE", product_detail_pages_path