#contact
	.container
		%h1 DURHAM
		%p Proud to be from the historic city of Durham. Durham is a city in north east England, south of Newcastle upon Tyne. Where the River Wear loops around the Romanesque Durham Cathedral and Norman Durham Castle.
		= mail_to "purplesea@gmail.com"
		= image_tag("durham-cut.jpg")