#home
	.landing
		%h1 DIVE DEEPER
		= video_tag(["videos/home-comp-web.mp4"], :autoplay => true, :loop => true)
	.ucd
		%h1 
			USER 
			%br 
			CENTRED 
			%br
			DESIGN
		%p
			%strong Put the user needs first.
			Websites and apps need to revolve around the wants and needs of its users alongside business goals.
		= video_tag(["videos/ucd-comp-web.mp4"], :autoplay => true, :loop => true)
	.ecommerce
		%h1 
			Ecommerce
		%p
			The world of ecommerce is full of sharks. The ability to 
			%strong
				keep customers engaged, 
			build trust in the brand and convert sales is becoming increasingly important.
		= video_tag(["videos/sharks-comp-web.mp4"], :autoplay => true, :loop => true)
	.business-systems
		%h1 
			Business
			%br
			Systems
		%p
			Systems responsible for large amounts of data moving at the hands of many users must be as efficient as possible. 
			%strong
				Saving time and reducing human errors. 
		= video_tag(["videos/sharks-comp-web.mp4"], :autoplay => true, :loop => true)