#home
	/ = image_tag("durham-tt-logo.svg")
	.headline-text
		%h1 DURHAM CITY TABLE TENNIS CLUB
		%h3 Open session for all ages and abilities. Whether you've played before or an absolute begginer.
		%h2 Wednesday 7-9pm at Freemans Quay Leisure Centre
	#btn-home
		.btn
			/ = link_to "Contact Details", "https://www.tabletennis365.com/DurhamTTC"
