#services
	.col
		%h1 UX
		%h2 
			USER 
			%br
			EXPERIENCE
		%ul
			%li Usability Audits
			%li Prototyping
			%li Research
			%li Analytics
			%li Organising Workshops
	.col
		%h1 UI
		%h2 
			USER 
			%br
			INTERFACE
		%ul
			%li Web Design
			%li App Design
			%li Promotion
			%li Online Art Direction 
			%li Video