@import 'variables';

@media screen and (max-width: 1230px) {
  #site-container {
		padding: 0 50px;
	}
	#header {
		.header-container {
			padding: 0 50px;
		}
	}
}

@media screen and (max-width: 980px) {
  #site-container {
		padding: 0 5%;
	}
	#header {
		.header-container {
			padding: 0 50px;
			p {
				font-size: 14px;
			}
			.menu a {
				font-size: 14px;
			}
		}
	}
}